.App{
  text-align: center;
}
.w-100{
  width: 100px;
}
.w-300{
  width: 300px;
}
.frame {
  fill: none;
  stroke: #000;
}

.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis circle {
  fill: none;
  stroke: #777;
  stroke-dasharray: 1,4;
}

.axis :last-of-type circle {
  stroke: #333;
  stroke-dasharray: none;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

.container{
  display: flex;
}

.container .left {

}
.w-400{
  width: 400px;
}
